@font-face {
  font-family: Ember;
  src: url('./font/AmazonEmber_Rg.ttf');
}

html,
body,
#root {
  height: 100vh;
  width: calc(100vw - 18px);
  margin: 0;
  padding: 0;
}

* {
  font-family: Ember;
}
