.previewCollumn {
  max-width: 660px;
  min-width: 440px;
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
  overflow: hidden;
}

.icon-collumn {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  margin-inline: 10px;
}

.main-preview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 40vw;
  min-width: 400px;
  max-width: 600px;
}

.rolloverText {
  color: #7d7f83;
}
