.reveiwSection {
  margin-inline: 10px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 40px;
}

.left-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  min-width: 300px;
}

.right-section {
  margin-right: 40px;
  max-width: 800px;
}

.subtitle {
  font-size: 14px;
}

.product-review {
  margin-top: 10px;
}

.userline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.profile-icon {
  background-image: url('../reviews-images/profile-icon.jpg');
  background-size: contain;
  width: 30px;
  height: 30px;
}

.username {
  font-size: 13px;
}

.title-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.star-image {
  background-image: url('../reviews-images/stars.png');
  background-position: -2px -2px;
  width: 80px;
  height: 18px;
}

.review-title {
  font-weight: bold;
  font-size: 14px;
}

.review-date {
  color: #565959;
  font-size: 14px;
}

.verified {
  color: #c45500;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.verified:hover {
  color: #c45500;
  font-size: 12px;
  text-decoration: underline;
}

.review-body {
  font-size: 14px;
  word-wrap: normal;
}

.helpful-line {
  color: #565959;
  font-size: 14px;
}

.buttons-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  color: #bdbdbd;
}

.helpful-button {
  height: 27px;
  width: 86px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 13px;
  color: black;
  text-align: center;
  line-height: 25px;
  box-shadow: 1px 1px 1px #bdbdbd72;
  cursor: pointer;
}

.helpful-button:hover {
  background-color: #e0e0e072;
}

.report {
  font-size: 14px;
  color: #565959;
}

.rating-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  gap: 10px;
  font-size: 20px;
  width: 100%;
}

.create-review {
  padding: 10px;
  width: min-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: center;
}

.back-button {
  font-size: 14px;
}

.spacer {
  flex: 1;
}

.submitReview {
  font-size: 14px;
  width: min-content;
  align-self: end;
}

.button {
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 13px;
  color: black;
  text-align: center;
  line-height: 25px;
  box-shadow: 1px 1px 1px #bdbdbd72;
  cursor: pointer;
  width: max-content;
  padding-inline: 10px;
  text-decoration: none;
}

.button:hover {
  color: black;
  background-color: #f2f2f2;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
}

.show-button {
  margin-top: 20px;
  height: 27px;
  width: 120px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 13px;
  color: black;
  text-align: center;
  line-height: 25px;
  box-shadow: 1px 1px 1px #bdbdbd72;
  cursor: pointer;
}

.show-button:hover {
  background-color: #e0e0e072;
}
