.infoColumn {
  display: flex;
  flex-flow: column nowrap;
  min-width: 250px;
  max-width: 520px;
  align-items: left;
  margin-inline: 10px;
}

.title {
  font-size: 24px;
  word-break: break-word;
}

.brand {
  color: #007185;
  font-size: 14px;
  text-decoration: none;
}

.brand:hover {
  text-decoration: underline;
  color: #e77600;
}

.dataBar {
  color: #007185;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
  font-weight: 500;
}

.dollarSign {
  font-size: 13px;
}
.priceDollars {
  font-size: 28px;
}
.priceCents {
  font-size: 13px;
}

.boldFont {
  color: #0f1111;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.responseData {
  color: #0f1111;
  font-size: 14px;
  line-height: 20px;
}
.papaDiv {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
.spacer {
  height: 20px;
  border-top: 1px solid rgb(211, 204, 204);
  margin-top: 20px;
}
.line {
  border-top: 1px solid rgb(211, 204, 204);
  height: 2px;
  margin-bottom: 12px;
}
.wideOpenSpaces {
  height: 5px;
}
.ul {
  font-size: 14px;
  margin-left: -15px;
}
.aboutHeader {
  font-weight: 700;
  line-height: 24px;
  padding: 0px 0px 4px;
}

.stars {
  background-image: url('../reviews-images/stars.png');
  background-position: -2px -2px;
  width: 80px;
  height: 18px;
}

.count {
  cursor: pointer;
}

.count:hover {
  cursor: pointer;
  color: #e77600;
}
