.QA {
  width: 800px;
  display: grid;
  grid-template-columns: [start] 64px [mid] auto [end];
  flex-flow: row nowrap;
  margin-bottom: 30px;
}

.voting-section {
  grid-column: start/ mid;
  width: 64px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4px;
  border-right: 1px solid #ccc;
  height: min-content;
}

.up-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-top-width: 0;
  border-bottom: 14px solid #888;
  cursor: pointer;
}

.up-arrow:hover {
  border-bottom: 14px solid #e77600;
}

.down-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-bottom-width: 0;
  border-top: 14px solid #888;
  cursor: pointer;
}

.down-arrow:hover {
  border-top: 14px solid #e77600;
}

.vote-count {
  font-size: 14px;
}

.votes-word {
  font-size: 14px;
}

.QA-section {
  grid-column: mid / end;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  padding-left: 8px;
  gap: 8px;
  width: 730px;
}

.head {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
}

.declarative {
  font-weight: bold;
  width: 100px;
}

.qtext {
  word-wrap: break-word;
  color: #007185;
  cursor: pointer;
  min-height: max-content;
  width: 630px;
}

.atext {
  word-wrap: break-word;
  min-height: max-content;
  width: 630px;
}

.qtext:hover {
  text-decoration: underline;
  color: #e77600;
}

.info {
  color: #565959;
}
