.container {
  width: 100vw;
  max-width: 100%;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #232f3e;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  align-self: left;
}
.back-to-top {
  justify-content: center;
  vertical-align: center;
  padding: 16px;
  width: 100vw;
  max-width: 100%;
  min-width: 1000px;
  display: inherit;
  font-size: 13px;
  background-color: #37475a;
  color: white;
  cursor: pointer;
}
.footerSpan {
  color: rgb(221, 221, 221);
  display: flex;
  font-size: 13px;
  text-decoration: none;
  line-height: 120%;
  margin: 0 0 10px;
  font-weight: lighter;
  cursor: pointer;
}
.col-space-between {
  width: 50px;
}
.footerSpan:hover {
  color: white;
  text-decoration: underline;
}

.col {
  width: fit-content;
}
.back-to-top:hover {
  background-color: #404e61;
}

.amazon-logo {
  width: 76px;
  height: 23px;
  background-image: url('../footer-images/amazon-image-collection.png');
  background-position: -10px -90px;
  margin-top: 9px;
}

.upper-footer {
  height: 405px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  min-width: 1000px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.mid-footer {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 1000px;
}
.buttons {
  font-size: 10px;
}

.col-header {
  font-weight: 700;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
  line-height: 120%;
  white-space: nowrap;
  width: max-content;
}

.divider {
  width: 100vw;
  max-width: 100%;
  border-top: 1px solid #3a4553;
}

.language-select {
  font-size: 13px;
  border: 1px solid #848688;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  height: 34px;
  margin-left: 100px;
  cursor: pointer;
}

.nav-globe {
  background-image: url('../footer-images/globes-and-flags.png');
  background-position: -77px -24px;
  width: 15px;
  height: 15px;
  margin-left: 4px;

  display: inline-block;
}

.up-down {
  background-image: url('../footer-images/globes-and-flags.png');
  background-position: -77px -80px;
  height: 12px;
  width: 12px;
  margin-left: 12px;
  margin-right: 6px;
}

.country-select {
  font-size: 13px;
  border: 1px solid #848688;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  height: 34px;
  cursor: pointer;
  margin-left: 6px;
}

.flag {
  background-image: url('../footer-images/globes-and-flags.png');
  background-position: -54px -108px;
  height: 12px;
  width: 18px;
  margin-left: 6px;
  margin-right: 2px;
}

.current-country {
  margin-right: 20px;
}

.language-select-modal {
  position: absolute;
  font-size: 13px;
  background-color: white;
  width: 240px;
  color: #444;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding-inline: 12px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px;
  border-color: transparent;
  border-bottom-width: 0;
  border-top: 9px solid #ccc;
  position: absolute;
  top: 231px;
  left: 105px;
}

.arrowInner {
  border-style: solid;
  border-width: 9px;
  border-color: transparent;
  border-bottom-width: 0;
  border-top: 9px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: -11px;
  left: -9px;
}

.choice {
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  align-items: center;
}

.Dead {
  cursor: pointer;
}

.Dead:hover .radioDead {
  background-position: -98px -2px;
  opacity: 0.5;
}

.Dead:hover {
  color: #e77600;
  text-decoration: underline;
}

.radioAlive {
  background-image: url('../footer-images/globes-and-flags.png');
  background-position: -98px -2px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.radioDead {
  background-image: url('../footer-images/globes-and-flags.png');
  background-position: -75px -2px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  cursor: pointer;
}

.learn-more {
  margin-left: 21px;
  color: #0066c0;
  cursor: pointer;
  height: 34px;
  vertical-align: center;
}

.learn-more:hover {
  text-decoration: underline;
  text-decoration-color: #e77600;
}

.small-divider {
  height: 1px;
  margin-left: 21px;
  border-top: 1px solid #eee;
}

.needless-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal-bottom {
  text-align: center;
  color: #0066c0;
  cursor: pointer;
  margin-bottom: 12px;
}

.modal-bottom:hover {
  text-decoration: underline;
  text-decoration-color: #e77600;
}
.navFooterDescItem {
  font-size: 13px;
  line-height: 20px;
  padding: 0 0.75em;
  vertical-align: top;
  text-align: left;
}
.navFooterDescSpacer {
  width: 4%;
}
.navFooterDescText {
  font-size: 11px;
  color: #999999;
}
.nav_a {
  color: white;
  text-decoration: none;
}
.footer-bottom {
  background-color: #131a22;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nav_a:hover {
  color: white;
  text-decoration: underline;
}
#lastOne {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
}

.copy_a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
.copy_b {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.copyright {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-top: 30px;
}
.copy_col {
  width: 20px;
}
.copy_a:hover {
  color: white;
  text-decoration: underline;
}
