.recs-section-big {
  margin-inline: 10px;
  max-width: 100%;
  display: flex;
}

.recs-section {
  height: 443px;
  width: 100%;
}
.head {
  height: 43px;

  width: 100%;
  display: flex;
  justify-content: space-between;
}
.head-right {
  white-space: nowrap;
}
.head-right1 {
  color: gray;
  display: flex;
  flex-flow: nowrap;
}
.head-right1:hover {
  cursor: pointer;
  color: rgb(204, 102, 0);
}
.btn-sections {
  width: 100%;
  display: flex;
  flex: 0;
  justify-content: space-between;
}
.right-side {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  opacity: 0.5;
  height: 397px;
  width: 40px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  opacity: 0.5;
  height: 397px;
  width: 40px;
}

.btn-next-right {
  color: black;
  height: 38px;
  width: 38px;
}
.btn-next-left {
  color: black;
  height: 38px;
  width: 38px;
}

.items {
  height: 397px;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.arrow-btn {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
  border-style: solid;
  align-items: center;
  border-width: 0.5px;
  border-radius: 10%;
  height: 33px;
}

.arrow-btn:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

h2.head {
  display: flex;
  color: rgb(204, 102, 0);
  font-size: 18px;

  flex-direction: row;
}
.product-img {
  height: 160px;
  width: 160px;
  margin-bottom: 5px;
}
.product-img:hover {
  cursor: pointer;
}

.product-name {
  color: rgb(0, 113, 133);
  margin-bottom: 5px;
}
.product-name:hover {
  color: rgb(204, 102, 0);
  cursor: pointer;
  text-decoration: underline;
}
.product-seller {
  font-size: small;
  margin-bottom: 4px;
}
.reviews {
  display: flex;
}
.num-reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11px;
  color: rgb(0, 113, 133);
  margin: 4px;
}
.num-reviews:hover {
  cursor: pointer;
  color: rgb(177, 39, 4);
}
.review-stars {
  display: flex;
}

.operating-system {
  color: gray;
  font-size: small;
  margin-bottom: 4px;
}
.price {
  display: flex;
  margin-bottom: 10px;
}
.price:hover {
  cursor: pointer;
}

.dollar {
  font-size: 10px;
  display: flex;
}
.amount {
  font-weight: 500;
}
.is-prime-delivery {
  font-weight: 300;
  font-size: 13px;
}
.main-area {
  display: block;
  width: 160px;
  margin-inline: 4px;
}
